{% load static %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
     <!--Inter UI font 
     <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

     <!--vendors styles
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" id="theme-color">
</head>
<body>
    <!--navigation--
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand heading-black" href="index.html">
                pdfNarrate
            </a>
            </div>
        </nav>
    </div>
</section>

        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <a href="upload">
                        <div class="icon-box box-primary">
                            <div class="icon-box-inner">
                                <span data-feather="mic" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>PDF to Audio</h5>
                        <p class="text-muted">Convert your PDF documents into audio files, making it 
                            convenient to listen to documents while driving, exercising, or multitasking..</p>
                    </div></a>
                    <div class="col-md-6 box">
                        <a href="pdf_upload">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <span data-feather="file-minus" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>PDF to DOCX</h5>
                        <p class="text-muted">Transform your PDFs into editable Word documents, 
                            allowing you to make changes, add annotations, and collaborate with others seamlessly.</p>
                    </div></a>
                    <div class="col-md-6 box">
                        <a href="image_to_pdf">
                        <div class="icon-box box-danger">
                            <div class="icon-box-inner">
                                <span data-feather="image" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Images to pdf</h5>
                        <p class="text-muted">easily convert image  to pdf, Convert multiple images into a 
                            single PDF document with just a few clicks..</p>
                    </div></a>
                    <div class="col-md-6 box">
                        <a href="words_to_pdf">
                        <div class="icon-box box-info">
                            <div class="icon-box-inner">
                                <span data-feather="type" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>plain text to pdf</h5>
                        <p class="text-muted">easily convert plain text to pdf,Say goodbye to messy formatting and clunky word documents. 
                        Convert your plain text into sleek, professional PDFs with just a few clicks</p>
                    </div></a>
                </div>
            </div>
        </div>

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html> -->