{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to docx</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>

<body>
        <form class="form-container" action="{% url 'pdf_upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload-files-container">
                <div class="drag-file-area">
                    <span class="material-icons-outlined upload-icon"> file_upload </span>
                    <h3 class="dynamic-message"> Drag & drop any file here </h3>
                    <div class="loader"></div>
                    <label class="label"> or 
                        <span class="browse-files"> 
                            <input type="file" id="pdfFile" name="pdfFile" class="default-file-input" accept=".pdf"/>
                            <span class="browse-files-text">browse file</span> 
                            <span>from device</span> 
                        </span> 
                    </label>
                </div>
                <span class="cannot-upload-message"> 
                    <span class="material-icons-outlined">error</span> Please select a file first 
                    <span class="material-icons-outlined cancel-alert-button">cancel</span> 
                </span>
                <div class="file-block">
                    <div class="file-info"> 
                        <span class="material-icons-outlined file-icon">description</span> 
                        <span class="file-name"> </span> | 
                        <span class="file-size">  </span> 
                    </div>
                    <span class="material-icons remove-file-icon">delete</span>
                    <div class="progress-bar"> </div>
                </div>
                <button type="submit" class="upload-button">Convert to Docx</button>
            </div>
        </form> 
        <script>  document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.form-container');
            const loader = document.querySelector('.loader');
            const loadingMessage = document.querySelector('.loading-message');
        
            form.addEventListener('submit', function () {
                // Show loader when the form is submitted
                loader.style.display = 'block';
                loadingMessage.style.display = 'block';
            });
        });  </script>
    <script src="{% static 'upload.js' %}"></script>
</body>
</html>